{% block friends_inverse %}
<div class="friends-inverse">
    <table class="table">
        <tbody>
            {% for user in entities %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td><a href="{{ path('friends_request', {'id': user.id}) }}" class="btn btn-small ajax-link" data-content=".friends-inverse">Request</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock friends_inverse %}
