/* Override some defaults */
body {
  padding-top: 60px; /* 40px to make the container go all the way to the bottom of the navbar */
}

.wrapword {
   white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   white-space: pre-wrap;       /* css-3 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.container-fluid, .container {
  >footer{
    >p {
      text-align: center; /* center align it with the container */
    }
  }
}
.navbar .btn {
  border: 0;
}

/* For collection of email, make them display block */
/*
.collection {
  &.controls {
  	input {
  	  margin-bottom: 9px;
  	  .not-removable {
  	    display: block;
  	  }
  	}
  	.input-prepend,
  	.input-append {
  	  margin-bottom: 9px;
  	  input {
  		  display: inline;
  	    margin-bottom: 0px;
  	  }
  	}
  }
}
*/
