/**
 * To support subnavbars we add a section padding top, so if you use inpage anchors wrap them in sections to have correct scrolling padding-top
 */

$section-padding-top: 600px;
$iconSpritePath: url('/bundles/bangnationcommon/images/glyphicons-halflings.png');
$iconWhiteSpritePath: url('/bundles/bangnationcommon/images/glyphicons-halflings-white.png');

$navbarBackground: #feb103;
$navbarBackgroundHighlight: #feb103;

/*
$navbarBackground: grayLight; 
*/

$navbarHeight: 120px;
.navbar .nav { height: $navbarHeight; }
.navbar .nav > li > a { padding: ($navbarHeight - 20)/2 10px (($navbarHeight - 20)/2 + 1); }
.navbar .brand { padding: ((($navbarHeight - 20) / 2) * 0.8) 20px ((($navbarHeight - 20) / 2) * 1.2); }