{% extends "::layout.html.twig" %}

{% block content %}
<div class="span10">
    <div class="row-fluid">
        <div class="span6">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ event.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <td><img src="{{ path('code', {'code': 'something' }) }}" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
